:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --black-color: #000000;
    --white-color: #f5f5f5;
    --ashy-color: #f5f4fa;
    --block-color: #2f303a;
    --color-text-number: rgba(255, 255, 255, 0.6);
    --color-icons: #afb1b8;
    --fone-color-icon: rgba(255, 255, 255, 0.1);
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --input-border: rgba(33, 33, 33, 0.2);
    --accent-color-hover: #188ce8;
    --header-border-color: #ececec;
    --hero-overlay: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/new_photo.jpg");
  }