.header {
  @extend %list !optional;
  
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
  
  // align-items: center;
  // justify-content: space-between;

  // @media (min-widgh: 480px) {
  //   min-width: 480px;
  //   // display: none;
  
  //   // align-items: center;
  //   // justify-content: space-between;
  // }

  // @media (min-widgh: 768px) {
  //   min-width: 768px;
  // }

  // @media (min-widgh: 1200px) {
  //   min-width: 1200px;
  // }
}

.header__burger-menu {
  border: var(--primary-white-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__burger-menu-svg {
  fill: var(--title-text-color);
}

.header__contact-firm {
  display: none;
  

  // @media (min-width: 480px) {
  //   display: flex;
  // }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
   }

   @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }

}

.header__contact-firm-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function), fill 250ms var(--time-function);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: start;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.17;
 }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contact-firm-icon {
  margin-right: 10px;
  fill: currentColor;
}


