.hero { 
  @extend %list !optional;

    background-color: var(--block-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @media screen and (max-width: 767px) {
      background-image: var(--hero-overlay), url("../images/hero-mob-480.jpg");
      max-width: 480px;
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
          background-image: var(--hero-overlay), url("../images/hero-mob-960.jpg");
      }
    }
    @media screen and (min-width: 768px) {
      background-image: var(--hero-overlay), url("../images/hero-tabl-768.jpg");
      max-width: 768px;
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
          background-image: var(--hero-overlay), url("../images/hero-tabl-1536.jpg");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: var(--hero-overlay), url("../images/hero-lapt-1600.jpg");
      max-width: 1600px;
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
          background-image: var(--hero-overlay), url("../images/hero-lapt-3200.jpg");
      }
    }
  }  

  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    }
  }

  .hero__container {

    @media screen and (min-width: 1199px) {
      max-width: 360px;
    }
    
    @media screen and (min-width: 1200px) {
      max-width: 696px;
    }
  }

  .hero__primary-button {
    margin: 0 auto;
  }
