.mobile-menu {
    @extend %list !optional;
    
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    z-index: 1;

    overflow-y: scroll;

    &.is-open {
        display: block;
    }
    

    &__clouse-button {
        position: absolute;
        top: 10px;
        right: 15px;
        border:  var(--primary-white-color);
        background-color: transparent;
        cursor: pointer;
    }

    &__clouse-button:hover,
    &__clouse-button:focus {
        fill: var(--accent-color);
    }

    &__clouse-button-svg {
        fill: var(--title-text-color);
    }

    &__container {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__nav-link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contact-firm-link-mail {
        display: block;
        margin-top: 32px;
        margin-bottom: 64px;

        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    &__contact-firm-link {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    &__nav-item {
        margin-top: 36px;
        margin-bottom: 32px;
    }

    &__social-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__social-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color); 
    }
}
