.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--time-function),
      visibility 250ms var(--time-function),
      background-color 250ms var(--time-function),
      border 250ms var(--time-function);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
  }
  
  .button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-white-color);
  }
  
  .button-close__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
  
  .button-close:hover &,
  .button-close:focus & {
    fill: var(--accent-color);
  }
}